{
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf"
}
